<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Yams - About</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="./stylesheets/about.css">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">YAMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../about">About</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="userPageAnchor" class="nav-link" href="./login">My Kitchen</a>
                </li>

                <li class="nav-item">
                    <a id="scanPageAnchor" class="nav-link" href="./login">Scan Receipt</a>
                </li>

                <li class="nav-item">
                    <a id="addPageAnchor" class="nav-link" href="./login">Add Single Item</a>
                </li>

            </ul>

        </div>
    </nav>
    <!--End of navbar-->


    <!--Container-->
    <div class="container text-center">
        <!--About yams heading row-->
        <div class="row pt-4 pb-4">
            <div class="mx-auto col-11">
                <h1 class="display-4">About Yams</h1>
                <p class="big">------------- * -------------<br>
                    Yams is a mobile web application that helps you keep track of what's in your kitchen while you're out shopping! It also sends you notifications before your food expires so you can reduce food waste!</p>
            </div>
        </div>
        <!--End of about yams heading row-->

        <!--About yams row-->
        <div class="row">
            <!--Item 1-->
            <div class="col-lg-4 col-md-7 mb-4 mx-auto">
                    <img src="./images/fridge.png" att="Icons made by Tracy Tam" class="mx-auto">
                    <h3 class="pt-4">Virtual Kitchen</h3>
                    <p class="text-justify ">The virtual kitchen lists all your food for quick reference while you're out and about!</p>
            </div>
            <!--Item 1-->
            <!--Item 2-->
            <div class="col-lg-4 col-md-6 mb-4 mx-auto">
                    <img src="./images/clock.png" att="Icons made by Smashicons" class="mx-auto">
                    <h3 class="pt-4">Notifications</h3>
                    <p class="text-justify">After adding food to your kitchen, you're notified by email or text message before your food expires!</p>
            </div>
            <!--Item 2-->
            <!--Item 3-->
            <div class="col-lg-4 col-md-6 mb-5 mx-auto">
                    <img src="./images/coins.png" att="Icons made by Good Ware" class="mx-auto">
                    <h3 class="pt-4">Money Saver</h3>
                    <p class="text-justify">The power and efficiency of Yams stops you from double buying food or throwing out food that's gone off. This adds up to lots of savings!</p>
            </div>
            <!--Item 3-->
        </div>
        <!--End of about yams row-->

        <!--About us heading row-->
        <div class="row pt-4 pb-4 mt-4">
            <div class="mx-auto col-11">
                <h1 class="display-4">About Us</h1>
                <p class="big">------------- * -------------<br>
                    Our team consists of five highly passionate and skilled students who recently teamed up to tackle this food waste issue. We hope Yams can help you in your life!
                </p>
            </div>
        </div>
        <!--End of about us heading row-->

        <!--About us row-->
        <div class="row">
            <!--Person 1-->
            <div class="col-lg-6 col-md-6 mb-4 mx-auto">
                <img src="./images/Henry.jpg" class="people rounded-circle">
                <h3 class="pt-4">Henry</h3>
                <p>Front End UI Designer</p>
            </div>
            <!--Person 1-->
            <!--Person 2-->
            <div class="col-lg-6 col-md-6 mb-4 mx-auto">
                <img src="./images/Younhee.jpg" class="people rounded-circle">
                <h3 class="pt-4">Younhee</h3>
                <p>Front End Javascript Developer</p>
            </div>
            <!--Person 2-->
            <!--Person 3-->
            <div class="col-lg-4 col-md-4 mb-4 mx-auto">
                <img src="./images/Hayden.jpg" class="people rounded-circle">
                <h3 class="pt-4">Hayden</h3>
                <p>Full Stack Developer, Database Architect and Git Master</p>
            </div>
            <!--Person 3-->
            <!--Person 4-->
            <div class="col-lg-4 col-md-4 mb-4 mx-auto">
                <img src="./images/Adam.jpg" class="people rounded-circle">
                <h3 class="pt-4">Adam</h3>
                <p>Full Stack Developer and All Around Supporter</p>
            </div>
            <!--Person 4-->
            <!--Person 5-->
            <div class="col-lg-4 col-md-4 mb-4 mx-auto">
                <img src="./images/Jae.jpg" class="people rounded-circle">
                <h3 class="pt-4">Jae</h3>
                <p>Back End Developer, Database and Security Architect</p>
            </div>
            <!--Person 5-->
        </div>
        <!--End of about us row-->
    </div>
    <!--End of container-->


<!--Scripts-->
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../javascripts/dashboard.js"></script>
<!--Scripts-->
</body>
</html>
