<!DOCTYPE html>
<html>
<head>
  <title>Yams - Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <link type="text/css" rel="stylesheet" href="./public/stylesheets/Home.css">
</head>
<body>

  <!-- carousel -------------------------------------------->
  <div id="carouselContent" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row mx-auto justify-content-center" role="listbox">
      <div id="title" class="carousel-item active text-center pt-4">
        <h2>Yams</h2>
      </div>
      <div class="carousel-item text-center col-10 pt-3">
        <p>Yams is a mobile web application that takes the stress out of managing the food in your kitchen!</p>
      </div>
      <div class="carousel-item text-center col-10 pt-3">
        <p>By uploading your receipt, Yams instantly fills your virtual kitchen with each item you purchased.</p>
      </div>
      <div class="carousel-item text-center col-10 pt-3">
        <p>Yams provides an estimation of how long your food will last and notifies you before your food goes bad.</p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!---Buttons-------------------------------------------->
  <div id="mainForm">
      <div class="buttons">
          <div class="mx-auto">
              <form action="./Auth/google" method="get">
                  <button id="googleClick" class="btn btn-lg btn-social btn-google w-100 text-center">
                      <span class="fab fa-google"></span> Login with Google
                  </button>
              </form>
              <button type="button" id="loginClick" class="btn btn-yams btn-lg w-100">LOGIN</button>
          </div>
      </div>

    <hr />
    <div class="text-center">
      <a id="registerClick" class="mt-3 pointer">Don't have an account? Signup!</a>
    </div>
  </div>


  <!--Login form-------------------------------------------->
    <div id="wrongId">
        <% if(message && message.length > 0){ %>
        <div id="wrongIdMessage" class="alert alert-danger" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert">X</button>
        </div>
        <% } %>
    </div>
  <div id="loginForm" class="logins">
    <div class="col-8 mx-auto">
      <form id="authen" class="p-4" action="./Auth/local/login" method="POST">
        <div class="form-group">
          <input name="email" type="email" class="form-control" id="emailInput" required="required" placeholder="email@example.com">
        </div>
        <div class="form-group">
          <input name="password" type="password" class="form-control" id="passwordInput" required="required"  placeholder="Password">
        </div>
        <div class="form-check">
          <input name="remember" type="checkbox" class="form-check-input" id="rememberCheck">
          <label class="form-check-label">
            Remember me
          </label>
        </div>
        <div class="mt-4 col-8 mx-auto text-center">
          <button type="submit" class="btn submit">SUBMIT</button>
          <hr />
          <a id="registerClickInSignin" class="mx-auto pointer">Sign up</a>
        </div>
      </form>
    </div>
  </div>

  <!--Signup form-------------------------------------------->
  <div id="registerForm" class="registers">
    <div class="col-8 mx-auto">
      <form class="p-4" action="./Auth/local/register" method="POST">
        <div class="form-group">
          <input name="name" type="text" class="form-control" id="registerFullName" required="required" pattern="[A-Za-z]{}" placeholder="Full name">
        </div>
        <div class="form-group">
          <input name="email" type="email" class="form-control" id="registerEmail" required="required"  placeholder="Email address">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="registerPassword" required="required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Password">
        </div>
        <div class="form-group">
          <input name="password" type="password" class="form-control" id="registerPasswordCheck" required="required" pattern=".{}" title="Your password does not match" placeholder="Confirm Password">
        </div>
        <div class="col-8 mx-auto text-center">
          <button type="submit" class="btn submit">SUBMIT</button>
          <hr />
          <a id="loginClickInSignup" class="mx-auto pointer">Login</a>
        </div>

      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./public/javascripts/Home.js"></script>
</body>
</html>
