<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <style type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></style>
    <!-- <style type="text/css" rel="stylesheet" href="./stylesheets/scanner.css"></style> -->
  </head>
  <body>

    <h1>Hello!</h1>
    <a href="./scanner">Scanner</a>






    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="./javascripts/scan.js"></script> -->


  </body>
  </html>
