html { font-size: 0.95rem; }

@media (min-width: 576px) {
    html .row{ font-size: 1.1rem; }
}
@media (min-width: 768px) {
    html .row{ font-size: 1.25rem; }
}
@media (min-width: 992px) {
    html .row{ font-size: 1.30rem; }
}
@media (min-width: 1200px) {
    html .row{ font-size: 1.4rem; }
}

img{
    width: 45%;
    text-align: center;
}

.people {
    width: 40%;
}

.big{
  font-size: 120%;
}

#roundEdge {
    border-radius: 0.25rem;
}