
/*******************************************************************************************/
/*******************************         ABOUT         *************************************/
/*******************************************************************************************/
html { font-size: 1rem; }

@media (min-width: 576px) {
    html .row{ font-size: 1.1rem; }
}
@media (min-width: 768px) {
    html .row{ font-size: 1.25rem; }
}
@media (min-width: 992px) {
    html .row{ font-size: 1.30rem; }
}
@media (min-width: 1200px) {
    html .row{ font-size: 1.4rem; }
}

img {
    width: 45%;
    text-align: center;
}

.people {
    width: 40%;
}

.big{
  font-size: 120%;
}

#roundEdge {
    border-radius: 0.25rem;
}

#aboutPage {
    display:none;
}

/*******************************************************************************************/
/*******************************  FIRST PAGE           *************************************/
/*******************************************************************************************/
buttonBackground {
    background-color:rgb(0, 0, 0, 0);
}

html {
    background-image:url('../images/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    text-align: center;
}

body {
    background-color: transparent;
}

#inventoryBg h1 {
    font-size: 200%;
}

#button1 {
    font-weight: bold;
    font-size : 200%;
    color: black;
    width: 100%;
    background-color:transparent;
}
#button2 {
    font-weight: bold;
    font-size : 200%;
    color: black;
    width: 100%;
    background-color:transparent;
}
#button3 {
    font-weight: bold;
    font-size : 200%;
    color: black;
    width: 100%;
    background-color:transparent;
}
#button4 {
    font-weight: bold;
    font-size : 200%;
    color: black;
    width: 100%;
    background-color:transparent;
}

#myDropdown1 {
    display:none;
}

#myDropdown2 {
    display:none;
}

#myDropdown3 {
    display:none;
}

#myDropdown4 {
    display:none;
}
.eachFood {
    margin-top: 5%;
    font-weight:bold;
    background-color: darkgrey;
    border-radius: 10px;
    border-style:solid;
    border-width:5px;
    border-color: aliceblue;
}
.eachFoodName {
    text-align: center;
}
#fridgeButton {
    float:right;
    background-color: rgb(255, 230, 230);
}

#fridgeHead {
    text-align: center;
    background-color: lightgrey;

}

.numberOfList:nth-child(odd){
    background-color: rgb(240, 240, 245);
}
.numberOfList:nth-child(even){
    background-color: rgb(235, 235, 249);
}
/*******************************************************************************************/
/**********************************  scanning page       *************************************/
/*******************************************************************************************/

#submit1 {
  color: white;
  background-color: rgb(75,0,130);
  width: 100%;
  border-radius: 0;
}

#scannerForm {
  display: none;
}

#scannerForm .userID {
  display: none;
}

#submit1 {
    margin : 0 auto;
}

#close-loader {
  display: none;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    margin: 20% auto;
}
/***for loader****/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*******************************************************************************************/
/**********************************  add item page       *************************************/
/*******************************************************************************************/

.btn {
  width: 25%;
  border-radius: 0;
}

#addFrame {
    background-color : rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    width : 85%;
    margin : 0 auto;
    padding : 10px;
}

#category {
    display: flex;
    margin: 0 auto;
}

#add {
    color : rgb(255, 255, 255);
    text-align: center;
    font-size : 150%;
}

.navbar {
    margin-bottom : 10%;
}

#submit {
    width : 100%;
}

#ExpiryDate {
    margin-top: 10px;
}

#scanPage {
    display:none;
}
#addPage {
    display:none;
}

.deleteButton {
    color: black;
}

#easterModal {
    position:absolute;
    margin:0 auto;
    padding:0;
    border: 0;
}