

/*******************************************************************************************/
/*******************************         ABOUT         *************************************/
/*******************************************************************************************/
html { font-size: 1rem; }

@media (min-width: 576px) {
    html .row{ font-size: 1.1rem; }
}
@media (min-width: 768px) {
    html .row{ font-size: 1.25rem; }
}
@media (min-width: 992px) {
    html .row{ font-size: 1.30rem; }
}
@media (min-width: 1200px) {
    html .row{ font-size: 1.4rem; }
}

img {
    width: 45%;
    text-align: center;
}

.people {
    width: 40%;
}

.big{
  font-size: 120%;
}

#roundEdge {
    border-radius: 0.25rem;
}

#aboutPage {
    display:none;
}

/*******************************************************************************************/
/*******************************  FIRST PAGE           *************************************/
/*******************************************************************************************/
buttonBackground {
    background-color:rgb(0, 0, 0, 0);
}

html {
    background-image:url('../images/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    text-align: center;
}

body {
    background-color: transparent;
}

#inventoryBg h1 {
    font-size: 200%;
}


.eachFood {
    margin-top: 5%;
    font-weight:bold;
    background-color: darkgrey;
    border-radius: 10px;
    border-style:solid;
    border-width:5px;
    border-color: aliceblue;
}
.eachFoodName {
    text-align: center;
}
#progressBar {
    width: 30%;
    height: 40px;
    background:white;
    margin-right:auto;
    border-style: solid;
    padding:2px;
    margin-bottom: 0;
    margin-top:0;
}
#fridgeButton {
    width: 10%;
    background-color: rgb(255, 230, 230);
    border-radius: 5%;
    
}

#fridgeHead {
    text-align: center;
    background-color: lightgrey;
    font-family: 'Skranji', cursive;
}


.numberOfList {
    display:inline-flex;
    font-family: 'Skranji', cursive;
    font-size: 150%;
    border-radius: 5%;
    padding:5px;
}
.numberOfList:nth-child(odd){
    background-color: rgb(240, 240, 245);
}
.numberOfList:nth-child(even){
    background-color: rgb(235, 235, 249);
}
#foodNameInFridge {
    width:55%;
    margin-left:2%;
    margin-bottom:0;
    height: auto;
}
#dateLeft{
    width:30%;
    position: absolute;
    background-color: rgb(0, 0, 0, 0);
    font-size:18px;
    text-align: center;
}

/*********** logout ***********/
#logoutButton {
    background-color: rgb(0, 0, 0, 0);
    border:0;
    cursor:pointer;
}
#logoutButton:active{
    border-style: none;
    border:0;
}

.dropdown-menu {
    background-color : rgb(44, 62, 80);
}
.dropdown-item {
    color : rgb(255, 255, 255);
}

#userPage{
    background-color: rgb(235, 235, 249);
    height: 50%;
}


/*******************************************************************************************/
/**********************************  scanning page       *************************************/
/*******************************************************************************************/



#scannerForm {
  display: none;
}

#scannerForm .userID {
  display: none;
}

#close-loader {
  display: none;
}
#loaderModal.modal {
  background-color: rgba(255,255,255,0);
  box-shadow: none;
  -webkit-box-shadow: none;
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    margin: 20% auto;
}
/***for loader****/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.addItemsForm {
    background-color : rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    width : 85%;
    margin : 0 auto;
    padding : 10px;
}

.addItemsForm .form-control-plaintext {
  color: white;
}

#scannerFormSubmit {
  width: 100%;
}

#scanPlaceholder {
    width: 35%;
    height: 35%;
}
#scanPage {
    background-color: rgb(235, 235, 249);
    padding:2%;
    display:none;
}
#imageInput {
    width:50%;
    margin:0 auto;
}

.scannerDelete {
    text-align: center;
    background-color: rgb(255, 230, 230);
    border-radius: 5%;
    width:15%;
}
#scannerForm {
    width:100%;
}

/*******************************************************************************************/
/**********************************  add item page       *************************************/
/*******************************************************************************************/

.btn {
  width: 25%;
  border-radius: 0;
}

#addFrame {
    background-color : rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    width : 85%;
    margin : 0 auto;
    padding : 10px;
}

#category {
    display: flex;
    margin: 0 auto;
}

#add {
    color : rgb(0, 0, 0);
    text-align: center;
    font-size : 150%;
}

.navbar {
    margin-bottom : 10px;
}

#submit {
    width : 100%;
}

#ExpiryDate {
    margin-top: 10px;
}


#addPage {
    display:none;
}

.deleteButton {
    color: black;
}

#easterModal {
    position:absolute;
    margin:0 auto;
    padding:0;
    border: 0;
}

/*******************************************************************************************/
/**********************************  notification button and page       *************************************/
/*******************************************************************************************/

.notificationSettingButton {
    background-image: url( '../images/cog.png' );
    background-size: 45px 45px;
    height: 45px;  
    width: 45px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    margin-bottom: 10px;
}

#notificationFrame {
    background-color : rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    width : 85%;
    margin : 0 auto;
    padding : 10px;
}

#notificationSettingPage {
    display: none;
}
/*******************************************************************************************/
/************************          log out button      *************************************/
/*******************************************************************************************/
       