body {
    background-image:url('../images/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    margin: 0;
}

html {
    min-height: 100%;
    margin: 0;
}

#carouselContent {
  height: 255pt;
  color: rgb(75,0,130);
  background-color: rgba(255,255,255,0.6);
  margin-bottom: 10px;
}

.carousel-item h2 {
  font-size: 80pt;
  margin-top: 5%;
}
.carousel-item p {
  font-size: 23pt;
  margin-top: 5%;
}

#loginClick {
  color: white;
  background-color: rgb(75,0,130);
  border-radius: 0;
  margin-top: 10px;;
}

#mainForm hr {
  background-color: white;
  width: 50%;
}
#mainForm a:hover {
  text-decoration: underline;
}
#registerClick {
  font-size: 18pt;
  color: rgb(75,0,130);
  cursor: pointer;
}

#registerForm {
    display : none;
}

#loginForm {
    display : none;
}

.submit {
  color: white;
  background-color: rgb(75,0,130);
  border-radius: 0;
  width: 75%;
}

#registerForm a:hover, #loginForm a:hover {
  text-decoration: underline;
}
#wrongId {
    position: absolute;
    width: 60%;
    left: 20%;
    bottom:55%;
    text-align: center;
}
#wrongIdMessage {
    margin:0 auto;
}


@media (max-width: 576px) {
  .submit {
    width: 100%;
  }
  .carousel-item h2 {
    margin-top: 17%;
  }
  #loginClick {
    width: 50%;
  }

  #mainForm hr {
    width: 75%;
  }
    
 #googleClick {
    color: white;
    border-radius: 0;
    margin-top: 5%;
 }
}
