body {
    background-image:url('../images/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

#inventoryBg h1 {
    font-size: 400%;
    padding-top: 55px;
}

#submit {
  color: white;
  background-color: rgb(75,0,130);
  width: 100%;
  border-radius: 0;
}

#scannerForm {
  display: none;
}

#scannerForm .userID {
  display: none;
}
