body {
    background-image:url('../images/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

html {
    height: 100%;
}

#submit {
  color: white;
  background-color: rgb(75,0,130);
  width: 100%;
  border-radius: 0;
}

#foodTable {
  display: none;

}
